/build/

# all the binary file
*.obj
*.o
*.dll
*.lib
*.so
*.a
*.exe
*.out
*.pdb

# disable the project file
/.vs/
/.idea/
/.vscode/
/.cache/
/out/
/cmake-build-debug/

# Waitlist
/example/Waitlist/

# NOTES
/NOTES

# D++ Object Files
*.dppo

# Temp files
/.xmake/
**/.antlr/
/local/

# genrated config file
/include/config.h

# by VSCode Counter
/.VSCodeCounter/

# node modules
/node_modules/

# xmake genrated Visual Studio project
/vsxmake2022/

# TODO: docs not successful
/docs/