/build/

# all the binary file
*.obj
*.o
*.dll
*.lib
*.so
*.a
*.exe
*.out

# disable the project file
/.vs/
/.idea/
/.vscode/
/.cache/
/out/
/cmake-build-debug/

# Waitlist
/example/Waitlist/

# NOTES
/NOTES

# D++ Object Files
*.dppo

/.xmake/